@use "sass:math";

/* ####################################################### MIXINS ####################################################### */
@import "mixins";

/* ####################################################### FONTS ####################################################### */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext);
@import "fonts";

// Default font
$fontFamily: "GothamPro";
$fontSize: 16;

/* ###################################################### VARIABLES ###################################################### */
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #343A56;

/* ################################################# ZEROING, GENERAL PARAMETERS ################################################# */
@import "null";
body {
	font-weight: normal;
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
.title-h1 {
	@include adaptiv-value(font-size, 40, 18, 1);
	font-weight: 900;
	line-height: 1.2em;
	text-transform: uppercase;
}
.title-h2 {
	@include adaptiv-value(font-size, 38, 18, 1);
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase;
}
.title-h3 {
	@include adaptiv-value(font-size, 30, 16, 1);
	font-weight: 900;
    line-height: 1.2em;
    text-transform: uppercase;
}
.title-h4 {
	font-weight: bold;
	font-size: 28px;
	line-height: 27px;
}
.title-h5 {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.title-h6 {
	font-weight: bold;
}
.btn {
	background-color: #405EAA;
	border-radius: 4px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	text-transform: uppercase;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	@media (max-width: $md4+px){
		font-size: 14px;
	}
}
.play-btn {
	background-color: #405EAA;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.d-none {
	display: none;
}
.carryover {
	display: block;
}

/* ######################################################### SHELL ######################################################### */
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

/* ####################################################### MAIN GRID ####################################################### */
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		// max-width: 970px;
		padding: 0 20px;
	}
	@media (max-width: $md2+px) {
		// max-width: 750px;
	}
	@media (max-width: $md3+px) {
		// max-width: none;
		padding: 0 15px;
	}
}

/* ################################# CONNECTING UI FILES OF STYLES, FORMS AND READY CLASSES ################################# */
@import "forms";
@import "ui";

/* ############################################## CONNECTING PAGE AND ELEMENT STYLE FILES ############################################## */
// @import "lightgallery";
@import "popup";
// @import "header";
@import "footer";
@import "home";
// @import "catalog";
// @import "product";
// @import "reviews";
// @import "lighting";
// @import "about";
// @import "faq";
// @import "price";
// @import "vacancies";
// @import "stock";
// @import "gallery";
// @import "contacts";

/* ######################################################## MAIN UNIT ######################################################## */
.page {
	flex: 1 1 auto;
}

/* ####################################################### COMMON STYLES ####################################################### */
.bread-crumbs {
	background-color: #EDF4FA;
	padding-top: 72px;
	@media (max-width: 1100px){
		padding-top: 30px;
	}
	@media (max-width: $md4+px){
		display: none;
	}
    &__container {
    }
    &__nav {
    }
    &__list {
		display: flex;
		align-items: center;
    }
    &__item {
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 12px;
		line-height: 140%;
		display: flex;
		align-items: center;
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
    }
    &__link {
		border-bottom: 1px solid rgba(64, 94, 170, .1);
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 12px;
		line-height: 140%;
		color: #405EAA;
		display: block;
    }
	&__arrow {
		width: 6px;
		height: 10px;
		margin-left: 5px;
		img {
			width: 6px;
			height: 10px;
		}
	}
}
.items-benefits {
    box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 60px 100px 60px 100px;
    position: relative;
	z-index: 100;
    display: flex;
    justify-content: space-between;
    @media (min-width: 1600px){
        width: 1400px;
		margin-left: -100px;
    }
    @media (max-width: 1600px){
        width: 1200px;
    }
    @media (max-width: $md1+px){
        @include adaptiv-value(width, 1440, 290, 0);
        flex-wrap: wrap;
        padding: 50px 40px 50px 50px;
		margin-left: auto;
		margin-right: auto;
    }
    @media (max-width: $md3+px){
        padding: 30px 15px 30px 15px;
    }
    &__item {
        @media (min-width: $md1+px){
            &:nth-child(1){
                width: 253px;
            }
            &:nth-child(2){
                width: 261px;
            }
            &:nth-child(3){
                width: 198px;
            }
            &:nth-child(4){
                width: 214px;
            }
        }
        @media (max-width: $md1+px) and (min-width: $md4+px){
            width: 50%;
			&:nth-child(2) ~ div {
				margin-top: 30px;
			}
        }
        @media (max-width: $md4+px){
            width: 100%;
            text-align: center;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
        }
    }
    &__icon {
        margin-bottom: 15px;
        @media (max-width: $md4+px){
            margin-bottom: 10px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 18px;
        line-height: 32px;
        text-transform: uppercase;
        color: #405EAA;
        margin-bottom: 7px;
        @media (max-width: $md4+px){
            font-size: 14px;
            line-height: 32px;
            margin-bottom: 0;
        }
    }
    &__paragraf {
        font-family: 'Montserrat';
        font-weight: normal;
        line-height: 26px;
        @media (max-width: $md1+px){
            width: 95%;
        }
        @media (max-width: $md3+px){
            font-size: 14px;
            line-height: 1.4em;
        }
        @media (max-width: $md4+px){
            width: 100%;
            font-size: 12px;
        }
    }
}
.content-404 {
	background: url(../img/gallery/wrapper_bg.jpg) no-repeat center top / cover;
	padding: 142px 0px 197px 0px;
	@media (max-width: $md3+px){
		padding: 50px 0px 30px 0px;
	}
	&__container {
	}
	&__wrapper {
		width: 872px;
		margin: 0 auto;
		text-align: center;
		@media (max-width: $md2+px){
			width: 100%;
		}
	}
	&__error {
		@include adaptiv-value(font-size, 400, 145, 1);
		text-shadow: 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);
		font-weight: 300;
		line-height: 100%;
		text-transform: uppercase;
		color: #FFFFFF;
		
	}
	&__text {
		font-family: 'Montserrat';
		font-weight: normal;
		font-size: 18px;
		line-height: 170%;
		@media (max-width: $md4+px){
			font-size: 12px;
		}
	}
	&__btn {
		width: 380px;
		height: 70px;
		margin-top: 30px;
		@media (max-width: $md4+px){
			height: 50px;
			margin-top: 26px;
			width: 100%;
		}
	}
}
@media (max-width: $md3+px){
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
	.order-3 {
		order: 3;
	}
	.order-4 {
		order: 4;
	}
	.order-5 {
		order: 5;
	}
}
img[data-src] {
	opacity: 0;
	transition: .3s ease-out;
}
img[data-loaded] {
	opacity: 1;
}
.play-video {
	cursor: pointer;
}
.nav-tabs-arrow-desc {
	@media (max-width: $md4+px){
		display: none;
	}
}
.nav-tabs-arrow-mob {
	@media (min-width: $md4+px){
		display: none;
	}
}